---
layout: 2017_default
permalink: /about
title: About Girls Get Geeky Kisii
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <section id="conference" class="black-frame about about-container about-container-top">
      <h1>{{ page.title }}</h1>

      <div class="icon-about">
        <img src="../css/2017_style/img/TBD.jpeg" alt="icon-about">
      </div>

      <h2 class="second">Theme</h2>

      <p>Mobile & Web Development with APIs</p>

      <h2 class="third">Mission</h2>

      <p>To increase the number of female techies in the software engineering industry</p>

      <h2 class="second">Vision</h2>

      <p>To grow the community with an agenda of equality and visibility irregardless of gender</p>

      <h2 class="first">Objectives</h2>

      <p>To introduce female developers to various programming paradigms and lanhguages hence setting the pace for their career ventures  </p>
    </section>

    <section id="fourth" class="black-frame about about-container">
      <h1>Girls Get Geeky Kisii</h1>

      <p>We are known for organizing coding Workshop for ladies all around Kenya and this time we are heading to yet another town, Kisii, on March 28th 2020. Our target audience is mostly ladies who are either aspiring to venture into Tech related fields or those already pursuing related courses/careers in Technology.</p>
    </section>

    <section id="fifth" class="black-frame about about-container about-container-bottom">
      <h1>About</h1>

      <p> This events targets girls who are  developers in any stage and any other tech enthusiasts.
      </p>
    </section>
