---
layout: 2017_default
permalink: /pastevents
title: Past Girls Get Geeky Events
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <section id="conference" class="black-frame about about-container about-container-top">
      
      <h1>Girls Get Geeky Kakamega</h1>
      <h2 class="second">26.04.2019</h2>

      <p>Girls Get Geeky Kakamega was the third episode of the series. It was hosted in Kakamega at Magharibi hub. The turn out was approximately 40. The feedback from the attendees was positively overwhelming. We had coaches and speakers venturing in different technology fields and hence the attendees had a range of talks and code sessions to choose from. They insisted that we should do another similar event the coming year. It was fun and a huge learning experience. Here are the photos for the Kakamega GirlsGetGeeky episode: <strong></strong> </p>
      <img src="../css/2017_style/img/coaches/eve.jpeg">
      <h4><strong>Kakamega GirlsGetGeeky Lead : Everlyne Asiko</strong></h4>
      <p>Twitter: <strong>@everlyn_asiko</strong></p>

    </section>

    <section id="fourth" class="black-frame about about-container">
      <h1>Girls Get Geeky Nakuru</h1>
      <h2 class="second">08.02.2019</h2>

      <p>Girls Get Geeky Nakuru was the second episode of the series. It took place at . The turnout was 30 people. We had such a good experience learning, talks and breakout sessions that made the attendees learn a lot. we also had them network and get to know each other which is an important aspect for building the community. We hade a diverse team of coaches who were willing to give all the knowledge they could to the attendees. Here are some of the photos for Nakuru: </p>

      <img src="../css/2017_style/img/coaches/joey.jpeg">
      <h4><strong>Nakuru GirlsGetGeeky Lead : Joy Phoebe</strong></h4>

      <p>Twitter: <strong>@joyphoebe300</strong></p>

    </section>

    <section id="fifth" class="black-frame about about-container about-container-bottom">
      <h1>Girls Get Geeky Kisumu</h1>
      <h2 class="second">31.08.2018</h2>

      <p> Girls Get Geeky Kisumu was the very firs girls get geeky event that we hosted. It was big and the turnout was at 70. We had attendees arrive in as early as 8a.m. we had speakers and coaches all the way fro Nairobi, Nyeri, Eldoret and Nakuru. The experience was great and the ration of ladies to men was the biggest we had ever seen in any event. It spiked an interest to move the events to other parts of the country. Here are some of the photos for the Kisumu edition: </p>

      <img src="../css/2017_style/img/coaches/lucy.jpeg">
      <h4><strong>Kisumu GirlsGetGeeky Lead : Lucy Mise</strong></h4>

      <p>Twitter: <strong>@lue_mise</strong></p>

    </section>
