<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for about_data in site.data.twenty_17.home_about_data %}
          <li class="{{ about_data.inverted }}">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="../css/2016_style/img/{{ about_data.img }}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>{{ about_data.name }}</h4>
              </div>
              <div class="timeline-heading">
                <p class="text-muted">{{ about_data.info }}</p>
              </div>
              <a href="{{ about_data.link }}" class="page-scroll btn btn-sm">Learn More</a>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
