<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Girls Get Geeky - Kisii</h2>
                </div>
            </div>
            <div class="row container">
                <p>
                  Girls Get Geeky seeks to bring more ladies into STEM related courses and careers in the future.
                  We are known for organizing coding Workshop for ladies all around Kenya and this time we are heading to yet another town, Kisii, on March 28th 2020. Our target audience is mostly ladies who are either aspiring to venture into Tech related fields or those already pursuing related courses/careers in Technology.

                </p>

                <center><a href="https://www.eventbrite.com/e/girls-get-geeky-kisii-tickets-85199073723?ref=estw" class="page-scroll btn btn-xl">Register</a></center>
            </div>
        </div>
    </section>
