<!-- Clients Aside -->

    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <a href="https://podiihq.com" class="portfolio-link" data-toggle="modal">
                  <img src="../css/2017_style/img/logos/podii.png" class="img-responsive img-centered" alt="">
                </a>
              </div>
              <div class="col-md-6 col-sm-6">
                <a href="https://travis-ci.com" class="portfolio-link" data-toggle="modal">
                  <img src="../css/2017_style/img/logos/travis.png" class="img-responsive img-centered" alt="">
                </a>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
            </div>
            </div>
        </div>
    </aside>
